{% extends 'base.html' %}

{% load menu_tags %}


{% block content %}

  {% draw_menu item.name as menu_parents %}
  <ul>
    {% for parent in menu_parents reversed %}
      <p><li>{{ parent }}</li></p>
    {% endfor %}
  </ul>

  <ul>
    <li>
      <p>{{ item.name }}</p>
      {% if item.children.count %}
        <ul>
          {% for child in item.children.all %}
            <li><a href="{% url 'menu:item_detail' child.url %}">{{ child.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  </ul>

{% endblock %}














